body {
  margin: 50px 0;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin: 30px 0;
}

.shows-wrapper {
  display: flex;
  gap: 1.33%;
  flex-wrap: wrap;
}

.shows-wrapper .card {
  width: 24%;
  margin-bottom: 1.5%;
}

.show-preview {
  position: fixed;
  left: 50%;
  top: 5%;
  display: none;
  width: 60%;
  max-width: 1100px;
  height: 90%;
  background: white;
  transform: translate(-50%, 0);
  z-index: 1;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  overflow: scroll;
}

.show-preview .card {
  height: 100%;
}

.card-preview-bg {
  width: 240px;
  height: 360px;
  background-position: center;
  background-size: cover;
  grid-area: img;
}

.card-body-preview .card-title {
  grid-area: title;
  font-size: 30px;
}

.card-text {
  grid-area: text;
}

.card-body-preview{
  position: relative;
  display: grid;
  padding: 5%;
  grid-template-columns: 35% 25% 25%;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: 
    "title title title"
    "img text text"
    "img text text"
    ". text text"
    "closeDetails . heartButton";
  min-height: 556px;
  grid-column-gap: 5%;
}

.card-body-preview .btn-primary {
  max-width: 160px;
  grid-area: closeDetails;
}

.form-floating label {
padding: 5px;
}

.form-floating>.form-control {
  width: 100%;
  height: 15px;
}

.btn-icons {
  position: absolute;
  right: 20px;
  background-color: unset;
  border: unset;
}

.btn-x {
  padding: 0 10px 9px 10px;
}

.btn-icons-heart {
  grid-area: heartButton;
  bottom: 20px;
  height: 30px;
  width: 30px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='rgb(247, 141, 141)' class='bi bi-heart-fill' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  transition: .3s;
}

.bi-x-circle {
  font-size: 30px;
}

.btn-icons-heart:hover{
  height: 33px;
  width: 33px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' fill='rgb(255, 0, 0)' class='bi bi-heart-fill' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z'/%3E%3C/svg%3E");
}

.btn-icons-heart-added{
  height: 33px;
  width: 33px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' fill='rgb(255, 0, 0)' class='bi bi-heart-fill' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z'/%3E%3C/svg%3E");
}
